# ci workflow
name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    environment:
      name: ci
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup golang
        uses: actions/setup-go@v3
        with:
          go-version: ^1.19
          check-latest: true
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
  test:
    runs-on: ubuntu-latest
    environment:
      name: ci
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup golang
        uses: actions/setup-go@v3
        with:
          go-version: ^1.19
          check-latest: true
          cache: true
      - name: test-coverage
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: make test
          coverageLocations: ${{ github.workspace }}/cover.out:gocov
          prefix: github.com/${{ github.repository }}
  codeql:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    environment:
      name: ci
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup golang
        uses: actions/setup-go@v3
        with:
          go-version: ^1.19
          check-latest: true
          cache: true
      - name: init codeql
        uses: github/codeql-action/init@v2
        with:
          languages: 'go'
      - name: run analysis
        uses: github/codeql-action/analyze@v2
      - name: update goreportcard
        uses: creekorful/goreportcard-action@v1.0
