# release workflow
name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up golang
        uses: actions/setup-go@v5
        with:
          go-version: ^1.24
      - name: build
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release -f .goreleaser.yml --clean
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
  reportcard:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: update goreportcard
        uses: creekorful/goreportcard-action@v1.0
